* {
    box-sizing: border-box;
}

/* google font */
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;

}

main {
    border: 4px solid lightslategray;
    border-bottom-width: 0px;
}

small {
    display: none;
}




/* Mobile Responsive */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
        font-weight: 500;
    }

    #expenses-part h4 {
        font-size: 15px;
    }

    #expenses-part h6 {
        font-size: 13px;
        margin-left: 4px;
    }

    #expenses-part input {
        height: 30px;
        width: 100px;
        font-size: 15px;
    }

    #expenses-part button {
        height: 30px;
        width: 100px;
        font-size: 12px;
    }

    #saving-part h4 {
        font-size: 15px;
    }

    #saving-part h6 {
        font-size: 13px;
        margin-left: 1px;
    }

    #saving-part input {
        height: 30px;
        font-size: 15px;
        padding: 10px;
    }

    #saving-part button {
        padding-left: 7px !important;
        padding-right: 7px !important;
        height: 30px;
        width: 50px;
        font-size: 12px;
    }

    /* saving percent( % ) sign */
    #percent {
        margin: 5px !important;
        font-weight: 500 !important;
        font-size: 15px;
    }
}


/* Desktop Responsive */
@media screen and (min-width:768px) {
    #expenses-part h4 {
        font-size: 20px;
        margin: 10px !important;
    }

    #expenses-part h6 {
        font-size: 20px;
        margin-left: 8px;
    }

    #expenses-part div {
        margin: 12px !important;
    }

    #clothes-field {
        padding-right: 30px;
    }

    #expenses-part input {
        font-size: 20px;
        height: 45px;
    }

    #calc-part {
        margin-top: 0px !important;
        padding-bottom: 40px;
        height: auto;
    }

    #saving-part h4 {
        font-size: 20px;
        margin: 0px !important;
    }

    #saving-part h6 {
        font-size: 20px;
        margin-left: 8px;
    }

    #saving-part div {
        margin: 12px !important;
    }

    #saving-part input {
        width: 20px;
        height: 45px;
        font-size: 20px;
    }

    #saving-part button {
        height: 45px;
        width: 115px;
        font-size: 20px;
        padding-left: 35px !important;
    }
}